.main {
  display: block;
  margin: auto;
  border: solid black 2px;
}

.meteoriteStrike {
  stroke: white;
}

.tooltip {
  background-color: rgba(156, 143, 212, 0.8);
  border-radius: 5px;
  border: solid white 1px;
  color: #fff;
  user-select: none;
  padding: 10px 20px;
}

.tooltip h1,
.tooltip h2,
.tooltip h3 {
  margin: 5px 0;
  font-family: 'Gentium Book Basic', serif;
}

.tooltip h1 {
  font-size: 1.8em;
}

.tooltip h2 {
  font-size: 1.6em;
}

.tooltip h3 {
  font-size: 1.4em;
}
